<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726926500348-alsit7j852chdhei5c6jvmq9ssoetcre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726926500348-alsit7j852chdhei5c6jvmq9ssoetcre</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>726926500348-2ihb9vldmvupq0ceeptmac54jebevcc5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSOuiGJohoPuQmJGiQSyC357pnz0gsomM</string>
	<key>GCM_SENDER_ID</key>
	<string>726926500348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.thegrowingdeveloper.menuyo</string>
	<key>PROJECT_ID</key>
	<string>final-project-77c39</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-77c39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726926500348:ios:5b1bf6e17a732b29a85279</string>
</dict>
</plist>